.mainContainer {
  max-width: 100%; // Wider for mobile
  margin-top: 10%; // Centered
  padding: 1rem; // Adequate padding
  position: relative;
  background-color: transparent;
  display: flex; // Use flexbox for centering
  flex-direction: column; // Column layout
  align-items: center; // Center items horizontally
}

input[type='button'] {
  border: none;
  color: white;
  padding: 12px; // Consistent padding
  width: 100%; // Full width for buttons
  max-width: 300px; // Limit button width
  margin-top: 1rem; // Space above button
  font-size: 1rem; // Responsive font size
  border-radius: 8px;
  cursor: pointer;
  background: #5474eb;
  &:hover {
    background-color: #1433a3;
  }
}

.inputContainer {
  margin-bottom: 1rem;
  width: 100%; // Full width for input container
  display: flex; // Flexbox for centering inputs
  justify-content: center; // Center inputs
}

.inputBox {
  max-width: 100%; // Full width inputs
  padding: 0.75rem; // Comfortable padding
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-left: 0; // Reset margin
  width: 30%; // Adjust width to fit nicely
}

.inputBoxSelect {
  padding: 0.75rem; // Comfortable padding
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem; // Consistent font size for inputs
  max-width: 80%;
  width: 30%; // Make select input width responsive
}

.signUp {
  display: flex;
  color: blue;
  border: none;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;

  &:hover {
    background-color: #bdbdbd;
  }
}

.errorLabel {
  color: red;
  font-size: 0.9rem; // Smaller error text
}

.titleContainer {
  text-align: center; // Center title for better aesthetics
  margin-bottom: 1rem; // Space below title
}

@media (max-width: 768px) {
  body {
    font-size: 1rem; // Further reduce font size on very small screens
  }

  .inputBox {
    margin-left: 0; // Reset margin for mobile
    font-size: 0.9rem;
    max-width: 100%;
    margin-left: -25%;
    min-width: fit-content;
    width: 40%; // Full width on mobile
  }

  .inputBoxSelect {
    margin-left: 0; // Reset margin for mobile
    font-size: 0.9rem;
    max-width: 80%;
    margin-left: -25%;
    width: 70%; // Full width on mobile
  }

  .titleContainer {
    text-align: center; // Center title for better aesthetics
    margin-top: 10rem;
    margin-bottom: 2rem;
  }
}


