body {
  font-family: sans-serif;
  font-size: 1.2rem; // Smaller base font size for mobile
}

.mainContainer {
  max-width: 90%; // Wider for mobile
  margin: 0 auto; // Centered
  padding: 1rem; // Adequate padding
}

.header {
  text-align: center; // Center header text
}

input[type='button'] {
  border: none;
  background: cornflowerblue;
  color: white;
  padding: 12px; // Consistent padding
  width: 100%; // Full width for buttons
  margin-top: 1rem; // Space above button
  font-size: 1rem; // Responsive font size
  border-radius: 8px;
  cursor: pointer;
}

.inputContainer {
  margin-bottom: 1rem; // Space between inputs
}

.inputBox {
  width: 100%; // Full width inputs
  padding: 0.75rem; // Comfortable padding
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem; // Consistent font size for inputs
}

.inputBoxSelect {
  width: 100%; // Full width inputs
  padding: 0.75rem; // Comfortable padding
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem; // Consistent font size for inputs
}



.errorLabel {
  color: red;
  font-size: 0.9rem; // Smaller error text
}

.titleContainer {
  text-align: center; // Center title for better aesthetics
  margin-bottom: 1rem; // Space below title
}

@media (max-width: 480px) {
  body {
    font-size: 1rem; // Further reduce font size on very small screens
  }

  input[type='button'] {
    font-size: 0.9rem; // Smaller button text
  }

  .inputBox {
    margin-left: 2%;
    font-size: 0.9rem;
    min-width: fit-content;
    width: 30%;
  }

  .inputBoxSelect {
    margin-left: 13%;
    font-size: 0.9rem;
    width: 75%;
  }
  .titleContainer {
    text-align: center; // Center title for better aesthetics
    margin-top: 20rem;
    margin-bottom: 2rem;
  }
}
