@import './Styles/TopBar.scss';

.mainContainer {
  max-width: 100%; // Wider for mobile
  margin-top: 10%; // Centered
  padding: 1rem; // Adequate padding
  position: relative;
  background-color: transparent;
  display: flex; // Use flexbox for centering
  flex-direction: column; // Column layout
  align-items: center; // Center items horizontally
}

input[type='button'] {
  border: none;
  color: white;
  padding: 12px;
  max-width: 800px;
  width: 100%;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  background: #5474eb;
  &:hover {
    background-color: #1433a3;
  }
}

.inputContainer {
  margin-bottom: .1rem;
  width: 100%; // Full width for input container
  display: flex; // Flexbox for centering inputs
  justify-content: center; // Center inputs
  flex-direction: column; /* Stacks children vertically */
  align-items: center; /* Centers items horizontally */
   
}

.inputBox {
  max-width: 100%; // Full width inputs
  padding: 0.75rem; // Comfortable padding
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-left: 0; // Reset margin
  width: 30%; // Adjust width to fit nicely
}

.inputBoxSelect {
  padding: 0.75rem; // Comfortable padding
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem; // Consistent font size for inputs
  max-width: 80%;
  width: 30%; // Make select input width responsive
}

.signUp {
  display: flex;
  color: blue;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  &:hover {
    background-color: #bdbdbd;
  }
}

.homeTitle{
  color:#5474eb;
}


.errorLabel {
  color: red;
  font-size: 0.9rem;
  max-width: 100%;
}

.titleContainer {
  text-align: center; // Center title for better aesthetics
  margin-bottom: 1rem; // Space below title
}

@media (max-width: 768px) {
  body {
    font-size: 1rem; // Further reduce font size on very small screens
  }

  .inputContainer{
    padding-left: 20.5%;

  }

  .inputBox {
    margin-left: 0;
    font-size: 0.9rem;
    max-width: 100%;
    margin-left: -25%;
    min-width: fit-content;
    width: 40%;
  }

  .inputBoxSelect {
    margin-left: 0;
    font-size: 0.9rem;
    max-width: 100%;
    margin-left: -25%;
    width: 90%; 
  }

  .signUp{
    margin-left: -30%;
  }


  .titleContainer {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}





